.content {
	max-width: 880px;
	margin-top: 45px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

@media (max-width: 1279px) {
.content {
	margin: 28px 100px 0 100px;
	}
}
@media (max-width: 1080px) {
.content {
	margin: 28px 50px 0 50px;
	}
}
@media (max-width: 809px) {
.content {
	margin: 28px 20px 0 20px;
	}
}
@media (max-width: 620px){
.content {
	margin: 28px 10px 0 10px;
	}
}
@media (max-width: 560px) {
.content {
	margin: 28px 0px 0 0px;
	}
}
