.element__vector-like {
	background-image: url(../../../image/blocks/Vector.svg);
	background-color: transparent;
	width: 22px;
	height: 19px;
	border:none;
	align-self: center;
	margin-bottom: 3px;
	outline: none;
	cursor: pointer;
}
.element__vector-like:hover {
	opacity: 0.5;
}
.element__vector-like:active {
	background: url(../../../image/blocks/Union.svg);
	width: 22px;
	height: 19px;
	opacity: 1;
}

.element__vector-active {
	background: url(../../../image/blocks/Union.svg);
	width: 22px;
	height: 19px;
	opacity: 1;
}