@import url(./__image/element__image.css);
@import url(./__title/element__title.css);
@import url(./__vector-like/element__vector-like.css);
@import url(./__like/element__like.css);
@import url(./__likes/element__likes.css);
@import url(./__icon-delete/element__icon-delete.css);
.element {
	position: relative;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	text-decoration: none;
	justify-content: space-between;
	background: #FFFFFF;
}