.form__input {
	margin: 0 auto;
	width: 358px;
	border:none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 0;
	padding-bottom: 13px;
	outline: none;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;


}
.form__input::placeholder {
	color: #C4C4C4;
}

@media (max-width: 560px) {
.form__input {
	width: 238px;
	}
}	